# =====================================================
# CREDENCIAIS - RENOMEIE ESTE ARQUIVO PARA .env
# NUNCA COMMITE O ARQUIVO .env NO GIT
# =====================================================

# FIREBIRD
FB_HOST=
FB_DATABASE=
FB_PORT=
FB_USER=
FB_PASSWORD=
FB_CHARSET=


# CONFIGURAÇÕES DE BUSCA
DIAS_JANELA=
#PASTA_SAIDA_EXCEL=
PASTA_SAIDA_EXCEL=
ARQUIVO_SAIDA=
ARQUIVO_SAIDA_HISTORICO=
PASTA_SAIDA_PARQUET=
MODO_COMPATIVEL=

ARQUIVO_LOG=
LOG_MAX_BYTES=
LOG_BACKUP_COUNT=


